@import url("normalize.css");

$font: 'Manrope', sans-serif;

// https://meodai.github.io/poline/

$white: #ffffff;
$black: #000000;
$primary: #141d1a;
$secondary:#354a48;
$tertiary: #6f9393;
$quat: #d9e9ea;

a {
    text-decoration: underline;
    color: $quat;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: $tertiary;
    }
}

header {
    display: flex;
    justify-content: center;
    .container {
        border-bottom: 1px solid $secondary;
    }
}

footer {
    display: flex;
    justify-content: center;
    .container {
        border-top: 1px solid $secondary;
    }
}

h1 {
    color: $quat;
    font-style: italic;
    text-transform: uppercase;
    font-size: 3.0rem;
}

#template-container {
    display: flex;
    justify-content: center;
    min-height: 60vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 100vh;
    background: $primary;
    width: 800px;
    
}

body {
    background-color: #141d1a;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23354a48' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: $font;
    color: $quat;
}


/*****************************START************************************/

.add-players {
    display: grid;
    height: 100%;
    grid-template-rows: [row1-start] 12%  1fr [row2-end];

}

.player-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2.0rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.buttons-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

button {
    background-color: $secondary;
    color: $white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 1.5rem;
    font-family: $font;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $tertiary;
        color: $black;
    }
}

/* Specific style for disabled 'add-player' button */
button.add-player:disabled {
    background-color: gray; /* Change the background color to gray when disabled */
    color: #ccc; /* Change the text color to a lighter color */
    cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
    /* Add any other styles specific to disabled buttons */
}

input {
    background-color: $secondary;
    color: $white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 1.5rem;
    font-family: $font;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $tertiary;
        color: $black;
    }
}


/*****************************BIDDING************************************/

.players-bid {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 2.0rem;
}

.bid-plus-minus {
    span { 
        cursor:pointer; 
    }
	.number {
		margin:100px;
	}
	.minus, 
    .plus{
        width:20px;
        height:20px;
        background:#f2f2f2;
        border-radius:4px;
        padding:8px 5px 8px 5px;
        border:1px solid $primary;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        color: $primary;
	}
	input {
        height:34px;
        width: 100px;
        text-align: center;
        font-size: 26px;
        border:1px solid #ddd;
        border-radius:4px;
        display: inline-block;
        vertical-align: middle;
    }
}

/*****************************TRICKS************************************/

.players-tricks {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 2.0rem;
}

/*****************************SCORE************************************/

.player-score-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .player-score {
        padding: 20px;
        h3 {
            margin: 0;
            padding: 0;
        }
    }
    .player-score:nth-child(even) {
        background-color: $tertiary;
    }
    .round-scores {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}